.card{
    border-bottom: 2rem;
    margin-top: 2rem;
}
.card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
  .card:hover{
    transform: scale(1.02);
  }

