.jumbotron{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url("D:\Utkarsh\Cloned reps\meals\Spacestagram\src\images\edgar-castrejon-1SPu0KT-Ejg-unsplash.jpg");    
    background-repeat: 'none';
    background-position: center;
    background-size: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.jumbotron h1,h6{
    color: white;
}

.button-input {
    margin-top: 1rem;
    width: 60%;
}

.error{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}